{% block sonata_media_type_widget %}
    <div class="span3 pull-left">
        {% if value is not empty and value.providerReference %}
            <div class="pull-left" style="margin-right: 5px">
                {% thumbnail value, 'admin' with {'class': 'img-polaroid media-object'} %}
            </div>

            {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                <a href="{{ url('admin_gravity_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a>
            {% else %}
                <strong>{{ value.name }}</strong>
            {% endif %}
            <br/>
            <span type="label">{{ value.providerName|trans({}, 'SonataMediaBundle') }}</span> ~ {{ value.context }}
        {% else %}
            <div class="pull-left" style="margin-right: 5px">
                <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="img-polaroid media-object"
                     style="width: 85px; height: 85px"/>
            </div>
            <strong>{{ 'no_linked_media'|trans({}, 'SonataMediaBundle') }}</strong> <br/>
            <span type="label">{{ form.vars['provider']|trans({}, 'SonataMediaBundle') }}
                ~ {{ form.vars['context']|trans({}, 'SonataMediaBundle') }}</span>
        {% endif %}
    </div>

    <div class="span3 pull-left">
        {{ 'link_media'|trans({}, 'SonataMediaBundle') }}
        {{ block('form_widget') }}
    </div>
{% endblock sonata_media_type_widget %}

{% block gravity_media_type_widget %}
    <div class="gravity-media-widget clearfix ">
        {% if value is not empty and value.providerReference %}
            <div class="media-img pull-left">

                <button class="media-remove btn btn-sm btn-default"><i class="fa-times"></i> Remove File</button>
            </div>

            <div class="media-details">
                <div class="media-row">
                    {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                        <a href="{{ url('admin_gravity_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a>
                    {% else %}
                        <strong>{{ value.name }}</strong>
                    {% endif %}
                </div>

                <div class="media-row">
                    <span type="label">{{ value.providerName|trans({}, 'SonataMediaBundle') }}
                        ~ {{ value.context }}</span>
                </div>
            </div>

        {% else %}
            <div class="media-img pull-left">
                <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="img-polaroid media-object" width="85"
                     height="85"/>
            </div>

            <span type="label">{{ form.vars['provider']|trans({}, 'SonataMediaBundle') }}
                ~ {{ form.vars['context']|trans({}, 'SonataMediaBundle') }}</span>
        {% endif %}
    </div>

    <div class="span3 pull-left">
        {{ block('form_widget') }}
    </div>
{% endblock gravity_media_type_widget %}

{% block gravity_media_widget_form_row %}
    {{ block('form_row') }}
{% endblock gravity_media_widget_form_row %}

{% macro dropzoneItem(form) %}
    {% spaceless %}
        <div class="dz-preview dz-file-preview">
            <div class="dz-details">
                <div class="dz-filename">
                    <span data-dz-name></span>
                </div>
                <div class="dz-size">File size: <span data-dz-size></span></div>
                <div class="dz-thumbnail-wrapper">
                    <div class="dz-thumbnail">
                        <img data-dz-thumbnail>
                        <span class="dz-nopreview">No preview</span>

                        <div class="dz-error-mark"><i class="fa fa-times-circle-o"></i></div>
                        <div class="dz-error-message"><span data-dz-errormessage></span></div>
                    </div>
                </div>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" data-dz-uploadprogress></div>
            </div>
            <div class="file-form-container file-fields">
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}

{% block gravity_media_widget_form_widget %}
    <div class="gravity-media-widget {% if value is not empty %}has-media{% endif %}">
        {% if value is not empty and value.media is not empty %}
            {% media value.media, image_preview with {'class': 'img-polaroid media-object'} %}
        {% else %}
            <img src="" class="img-polaroid media-object">
        {% endif %}
        <div class="media-details">
            <div class="form-group">
                <strong class="control-label">
                    Name
                </strong>
                <div class="">
                    {% if value is not empty and value.media is not empty %}
                        {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                            <a href="{{ url('admin_gravity_media_media_edit', {id: value.media.id}) }}" class="media-name">
                                {{ value.media.name }}
                            </a>
                        {% else %}
                            <span class="media-name">{{ value.media.name }}</span>
                        {% endif %}
                    {% else %}
                        <span class="media-name"></span>
                    {% endif %}
                    <button type="button" class="btn btn-xs media-remove">
                        <i class="fa-unlink"></i> Change
                    </button>
                </div>
            </div>
            <div class="media-form-fields">
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="dropzone-box"
             data-url="{{ path('sonata_api_media_media_post_provider_medium', {provider: provider, _format: 'json'}) }}"
             data-context="{{ provider_context }}"
             data-image-preview="{{ provider_context }}_{{ image_preview }}"
             data-prototype="{{ _self.dropzoneItem()|e('html_attr') }}">
                <div class="dz-default dz-message">
                    <i class="fa fa-cloud-upload"></i>
                    Drop files in here<br><span class="dz-text-small">or click to pick manually</span>
                </div>
        </div>
    </div>
{% endblock gravity_media_widget_form_widget %}
