{% extends 'GravityCmsBundle::frontend.html.twig' %}

{% block title %}{{ node.title }}{% endblock title %}

{% block page_title %}{{ node.title }}{% endblock %}
{% block page_subtitle %} {% endblock %}

{% block content %}
    <h1>{{ node.title }}</h1>
    {% if admin.isGranted('VIEW', node) %}
        <a href="{{ url('admin_andythorne_sandbox_page_edit', {id: node.id}) }}">Edit</a>
    {% endif %}

    {% for field,settings in display_mappings %}
        {{ render_field_display(node, field) }}
    {% endfor %}
{% endblock content %}
