{% extends 'GravityCmsBundle::frontend.html.twig' %}

{% block title %}{{ page_title }}{% endblock title %}

{% block page_title %}{{ page_title }}{% endblock %}
{% block page_subtitle %} {% endblock %}

{% block content %}
    <h1>{{ page_title }}</h1>
    <p>
        {{ nodes|length }} Found
    </p>


    <div class="row">
        {% set media_options = media_options|default({}) %}
        {% for node in nodes %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="{{ url(node.route.name) }}" class="thumbnail">
                    {% media node.leadImage.media, 'default_small' with { class: 'img-responsive' } %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
